<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Multiplayer Game</title>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <h1>Secure Multiplayer Game</h1>

  <canvas id="gameCanvas" width="600" height="400"></canvas>

  <h2>Ranking</h2>
  <ul id="ranking"></ul>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/main.js"></script>
</body>
</html>
